{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, ["src/horatio.lfe",
                   "src/horatio-util.lfe"
                   "src/horatio-io.lfe",
                   "src/horatio-ops.lfe",
                   "src/horatio-arith.lfe"]}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.9.2"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.6.5"}}},
   {clj, ".*", {git, "https://github.com/lfex/clj.git", {branch, "master"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.1"}}},
   {kla, ".*", {git, "git://github.com/lfex/kla.git", {tag, "0.4.0"}}}
  ]}.
